<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">

	<listeners>
		<listener class-name="com.automation.listeners.TestListener" />
		<listener
			class-name="com.automation.listeners.AnnotationTransformer" />
	</listeners>
	<test name="Asus max pro m1">
		<listeners>
			<listener class-name="com.automation.listeners.TestListener" />
			<listener class-name="com.automation.listeners.AnnotationTransformer" />
		</listeners>
		<parameter name="platformName" value="Android" />
		<parameter name="deviceName"
			value="SAMSUNG_GalaxyGrandPrime_Android_5.0.2" />
		<parameter name="url"
			value="https://device.pcloudy.com/appiumcloud/wd/hub" />
		<classes>
			<class name="com.automation.tests.CICDTest"></class>
		</classes>
	</test>

	<!-- <test name="Xiaomi"> <parameter name="platformName" value="Android" 
		/> <parameter name="udid" value="164cd41d9805" /> <parameter name="deviceName" 
		value="Redmi" /> <parameter name="url" value="http://0.0.0.0:4723/wd/hub" 
		/> <classes> <class name="com.automation.tests.CICDTest"></class> </classes> 
		</test> -->
</suite> <!-- Suite -->
