<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<test name="Asus max pro m1">
		<listeners>
			<listener class-name="com.automation.listeners.TestListener" />
		</listeners>
		<parameter name="platformName" value="Android" />
<!-- 		<parameter name="udid" value="J7AAGF009641EL4" />
 -->		<parameter name="deviceName" value="Nexus" />
		<parameter name="url" value="http://0.0.0.0:4723/wd/hub" />
		<classes>
			<class name="com.automation.tests.HomePageTest"></class>
		</classes>
	</test>

	<!-- <test name="Xiaomi">
		<listeners>
			<listener class-name="com.automation.listeners.TestListener" />
		</listeners>
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="164cd41d9805" />
		<parameter name="deviceName" value="Redmi" />
		<parameter name="port" value="8001" />
		<classes>
			<class name="com.automation.tests.HomePageTest"></class>
		</classes>
	</test> -->
</suite> <!-- Suite -->
